.believabilityContainer{
    background-color: #F6F8FC;
    height: 88vh;

}

.headerGridItem{
    height: 12vh; 
    background-color: #0A71B9
 }
 
 .headerPara{
     color: #ffffff;
     font-style: Inter;
     font-size: 24px;
     font-weight: 400;
 }

 .selectPara{
    margin-top: 3%;
    margin-left: 4px;
    margin-bottom: 2px;
    font-size: 14px;
    font-style: Inter;
    font-weight: 400;
    color: #002c44;
 }

 .believabilityLeftGrid{
    margin-left: 5%;
    margin-right: 5%;
 }