.believabilityContainer{
    background-color: #F6F8FC;
    height: 88vh;
}

.headerGridItem{
    height: 12vh; 
    background-color: #0A71B9
 }
 
 .headerPara{
     color: #ffffff;
     font-style: Inter;
     font-size: 24px;
     font-weight: 400;
 }

 .selectPara{
    margin-left: 4px;
    margin-bottom: 2px;
 }