.landing{
    // background-image: url("../assets/LandingScreenForVideo.jpg");
    // background-size: cover;
    // position: relative;
    // /* width: 100vh; */
    // height: 100vh;
    // background-repeat: no-repeat;
    // background-position: center;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .LandingVideoGrid{
    margin-top: 10%;
    margin-left: 5%;
    @media only screen and (max-width: 910px) {
      margin-top: 0%;
      margin-left: 0%;
    }
  }

  .landinCard{
    background-color: #0A71B9;
  }

  .cardHeading{
    color: #0A71B9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    // line-height: 48px;
  }

  .cardParagraph{
    top: 2%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    // line-height: 29px;
  }

  .candidateCard{
    position: absolute;
    width: 457px;
    height: 143px;
    left: 840px;
    top: 374px;
    background: #5A5A5C;
    border-radius: 10px;
  }