.signInContainer{
    background-image: url("../../assests/LandingScreen2.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-color:none;
    margin: 0%;
    padding: 0%;
    @media only screen and (max-width: 1104px) {
        background-image: none;
        background-color: #124fc0;
    }
}

